images/apple.jpg
images/apples.jpg
images/car.jpg
images/car1.jpg
images/car2.jpg
images/car3.jpg
images/clock.jpg
images/clock2.jpg
images/clock3.jpg
images/fruits.jpg
images/oranges.jpg
images/.ipynb_checkpoints/apple-checkpoint.jpg
images/.ipynb_checkpoints/clock2-checkpoint.jpg
images_uploaded/11222887_10206343438199298_4627637376170976874_n.jpg
__pycache__/working.cpython-38.pyc
working.py
